* {
    font-family: sans-serif;
}

body {
    background-color: lightyellow;
}

a {
    outline: none;
}

.header, h2, a {
    color: #00aeae;
    text-decoration: none;
}

ul {
    list-style-type: none;
    text-align: center;
    font-size: 30px;
}

ul li {
    display: inline-block;
}

.header {
    font-size: 40px;
}

input, button, .button, #submit-button {
    border: 1px solid #00aeae;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    background-color: lightgrey;
    margin: 7px;
    padding: 7px;
    color: #00aeae;
    cursor: default;
}
